body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body > div {
  width: 55%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  background-color: #00000080;
  padding: 5%;
  border-radius: 12px;
  font-family: sans-serif;
}

header > img {
  width: 180px;
  display: block;
  margin: auto;
}

header > h2 {
  color: #00ff00;
  text-align: center;
}

nav > div {
  background-color:#00ff00;
  text-align: center;
  padding: 10px;
}

main {
  color: white;
}

section > span {
  font-size: 20px;
  font-weight: bold;
}

section > div {
  font-size: 13px;
}

.arrow:before {
  content: "\21A6";
}

.carica {
  border-radius: 5px;
  padding: 10px;
}

.gino22 .carica {
  background-color: #ffa64d;
  width: 35%;
}

.mike24 .carica {
  background-color: #00cc00;
  width: 60%;
}

.fede154 .carica {
  background-color: #ff3333;
  width: 15%;
}
